/* //////////////////// IMPOSTAZIONI GENERALI /////////////////////////////// */
body{
  padding-top: 80px;
  font-family: 'Roboto';
}
ul{
  list-style-type: none;
}

/* INTRO SECTION */
.titolo-section{
  font-size: 40px;
  font-weight: bold;
}
.sottotitolo-section{
  font-size: 23px;
}

/* IMP. APPLICAZIONI */
.apps{
  margin-top: 30px;
}
.apps h3{
  font-size: 23px;
  font-weight: bold;
}
.apps p{
  font-size: 19px;
  color: #6f7b95;
}
.apps img{
  margin-top: 20px;
}
.apps a{
  font-size: 19px;
  color: #026bff;
  padding-bottom: 30px;
}

/* FRECCIA DESTRA/SINISTRA CAROUSEL */
.glyphicon-chevron-right,
.glyphicon-chevron-left{
  margin-top: 400%;
  font-size: 30px;
  color: #6f7b97;
}
/* //////////////////// FINE IMPOSTAZIONI GENERALI ////////////////////////// */

/* //////////////////////// APERTURA HEADER ///////////////////////////////// */

/* NAV HEADER */
.navbar-default {
  background-color: white;
  border-color: white;
  font-weight: 600;
}
.header-logo img{
  height: 32px;
  margin-top: 20px;
}
.menu ul{
  line-height: 65px;
  margin-top: 5px;
}
.menu a{
  color: black;
  font-size: 16px;
  margin-right: 10px;
}
.menu span{
  margin-left: 3px;
}
.my-button-blue {
  font-size: 15px;
  font-weight: 600;
  color:#2485fd;
  background-color: #fff;
  border-color: #2485fd;
}

/* MENU NASCOSTO */
.hamburger{
  font-size: 20px;
  margin-top: 5px;
  line-height: 65px;
}
.hamburger a{
  color: #2485fd;
}

/* JUMBOTRONE */
.jumbo{
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.jumbo-text{
  color: white;
}
.jumbo-text h1{
  font-size: 65px;
  margin-top: 50px;
}
.jumbo-text h2{
  font-size: 23px;
}
.jumbo-box{
  background: white;
  height: 400px;
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.jumbo-box h3{
  font-size: 25px;
  font-weight: bold;
}
.jumbo-box p{
  font-size: 25px;
  font-weight: bold;
  color: #2485fd;
}
.jumbo-box form p{
  font-size: 14px;
  font-weight: normal;
  color: black;
  margin-top: 10px;
}
.jumbo-box form .btn-blue{
  margin: 10px 0;
  background-color: #2485fd;
  color: white;
}
.jumbo-box form img{
  height: 25px;
  float: left;
}
/* ///////////////////////// CHIUSURA HEADER //////////////////////////////// */


/* ///////////////////////// APERTURA MAIN ////////////////////////////////// */

/* SPONSOR */
.main-sponsor{
  background: #f3f5f9;
  padding: 40px;
  color: #727a8b;
  text-align: center;
  font-weight: bold;
}
.main-sponsor h3{
  color: ##2f83fe;
  font-size: 17px;
  font-weight: bold;
}
.blocco-sponsor{
  display: inline-block;
  width: 16%;
}
.blocco-sponsor img{
  width: 90%;
  max-height: 130px;
}
.main-sponsor a{
  color: #2f83fe;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (max-width:768px) {
  .blocco-sponsor{
    width: 49%;
  }
  .blocco-sponsor img{
    width: 70%;
    max-height: 110px;
  }
}

/* DEPLOY */
.deploy{
  text-align: center;
  margin-top: 70px;
}
.wrapper-deploy{
  margin-top: 50px;
}
.menu-main ul{
  border-left: 1px solid #cfcfcf;
  margin-top: 50px;
}
.menu-main li{
  margin: 13px -30px;
}
.menu-main a{
  color: #75809a;
  font-size: 23px;
}

@media screen and (max-width:768px) {
  .apps{
    width: 100%;
  }
}

/* DESIGN */
.design{
  text-align: center;
  background: #f3f5f9;
  margin-top: 50px;
  padding: 50px 0;
}
.design img{
  width: 100%;
  margin-top: 60px;
}

/* CAROUSEL */
.sottotitolo-carousel{
  color: #566485;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
}
.pagine-carousel i{
  font-size: 12px;
  color: #006aff;
}
.pagine-carousel i.active{
  background: #006aff;
  border-radius: 50%;
}

/* FEAUTURES */
.features .titolo-section{
  margin-bottom: 30px;
}

/* SERVICE */
.service ul{
  padding-left: 0;
}
.service{
  background: #0044c2;
  color: white;
  padding: 50px 0;
  margin-top: 50px;
}
.lista-paesi ul{
  margin-top: 20px;
}
.lista-paesi li{
  padding: 10px 10px;
  border-bottom: 1px solid white;
}
.lista-paesi li:last-child{
  border-bottom: none;;
}
.lista-paesi .codice{
  display: inline-block;
  width: 15%;
}
.lista-paesi .paese{
  color: #abbce5;
}
.lista-paesi .test-speed{
  float: right;
}
.test-speed a{
  color: #00d3d1;
}

/* DEVELOPMENT */
.development{
  background: #f3f5f9;
  padding-bottom: 40px;
}

/* CAROUSEL */
.blocco-carousel{
  background: white;
  margin-top: 80px;
  margin-bottom: 25px;
  padding: 80px 15px 40px 15px;
}
.blocco-carousel p{
  font-size: 20px;
  margin-top: 20px;
}
.blocco-carousel .autore{
  font-size: 16px;
  margin-bottom: 25px;
}
.blocco-carousel a{
  font-size: 18px;
  color: #006aff;
}

/* MAIN BOTTOM */
.main-bottom{
  background-image: linear-gradient(#0042bb, #00209a);
  padding: 30px 0 50px 0;
  color: white;
}
.main-bottom button{
  color: #006aff;
}
/* ///////////////////////// CHIUSURA MAIN ////////////////////////////////// */


/* ///////////////////////// APERTURA FOOTER //////////////////////////////// */
footer{
  background: #031c4e;
  color: white;
  padding: 50px 0 60px 0;
}
footer ul{
  padding-left: 0;
}
.container-footer p,
.container-footer a{
  color: #8b94a9;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 17px;
}
.container-footer p.made{
  color: #596786;
  margin-top: 0;
}
.container-footer i{
  font-size: 20px;
  margin-top: 20px;
  margin-right: 10px;
}
.container-footer li{
  margin-bottom: 15px;
}


/* HELP */
.help{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.help img{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  background: #006aff;
}
.help .glyphicon-play{
  position: absolute;
  top: 50px;
  right: 82px;
}
.help .text{
  position: relative;
  right: 90px;
  height: 80px;
  width: 400px;
  border-radius: 10px;
  background: white;
  color: black;
  padding: 10px;
  font-size: 18px;
}
/* ///////////////////////// CHIUSURA FOOTER ///////////////////////////////  */
